local modem = "top"

local computer_name="controller_computer"


rednet.close(modem)
rednet.open(modem)

CONTROL_SERVER_INTERNAL_NETWORK_KEY = "(&AGD09adh)*Hd-dbvnkjad"

LINKED_WITH_CONTROLLER = false
CONTROLLER_ID = 0
	   
term.clear()

_AUTH_REQUEST_CODE = "100"
_AUTH_OKAY_CODE = "111"

_END_SESSION = "400"

AUTH_TIMEOUT = 30
ALIVE_TIMEOUT = 30

print("[#" .. os.getComputerID() .. " listening..] - " .. computer_name)

PRERESERVED_IDS = {17}
DNS_COMPUTER_ID = 17
LOGGED_IN_USERS = {}

num_logged_in = 0

function logoff(sid)
  local pos = 1
  local valueRemoved = false
  for key,value in pairs( LOGGED_IN_USERS ) do
	   --print(tostring(key)..": "..tostring(value))
	   if (value == sid) then
	     table.remove(LOGGED_IN_USERS, pos)
		 valueRemoved = true
		 break
	   end
	   pos = pos + 1
	end
   
   if (valueRemoved) then
     print("Remote #" .. sid .. " has ended their session.")
   end
end

function check_controller_link()
end

function term_up_one_line(xOffset)
  local x, y = term.getCursorPos()
  term.setCursorPos(x+xOffset, y-1)
end

function remote_repl()

    LINKED_WITH_CONTROLLER = true
	
    while (LINKED_WITH_CONTROLLER) do
	    print("*IN REMOTE*")
		--reset_term()
		check_controller_link()
		local header = ("\\\\" .. PASS_SHELL_TARGETEE .. "\\" .. os.getComputerID() .. "\\" .. DNS_COMPUTER_ID .. "> ")
		print(header)
		
		--term_up_one_line(6)
		
		local sid, msg = rednet.receive(ALIVE_TIMEOUT)
		
		if not msg then 
			print("INFO: KEEP ALIVE")
		
		else
			rednet.send(PASS_SHELL_TARGET, tostring(msg))
			
			local sid, msg = rednet.receive(ALIVE_TIMEOUT)
			
			if not msg then
			  print("INFO: KEEP ALIVE")
			else
			  rednet.send(PASS_SHELL_TARGETEE, header.. tostring(msg)) -- send the info back
			end
			
			
		end
		
		
		
	end
	print("*REMOTE SESSION ENDED*")
	
	--termlines = termlines + 2
end

PASS_SHELL = false
PASS_SHELL_TARGET = 0
PASS_SHELL_TARGETEE = 0


function authenticate()

end

function pass_shell(sid, routeID)
   --rednet.send(tonumber(routeID), _AUTH_REQUEST_CODE)
   --local id, msg = rednet.receive(ALIVE_TIMEOUT)
   print("LINKED TO CONTROLLER " .. routeID)
   rednet.send(sid, "LINKED TO DNS, DIRECTING..")
   CONTROLLER_ID = sid
   remote_repl()
	
   
end

function evaluate_remote_shell(sid, msg)
  local response = ""
  if (msg == "logoff") then
    rednet.send(sid, _END_SESSION)
	logoff(sid)
	
	
  elseif (msg == "help") then
    response = "Here are a list of commands: help, logoff, nukecon, power, authserv"
  elseif (msg == "nukecon") then
    response = nil
	
	PASS_SHELL_TARGETEE = sid
	
	PASS_SHELL_TARGET = DNS_COMPUTER_ID
	
	pass_shell(PASS_SHELL_TARGETEE, DNS_COMPUTER_ID)
	
  elseif (msg == "route") then
    response = sid .. "//" .. os.getComputerID()
	
elseif (msg == "whoami") then
    response = computer_name
	
	
	
  else
    response = "Your query was unrecognized."
  end
  
  if (not response) then
    rednet.send(sid, "(NO RESPONSE)")
  else
    rednet.send(sid, response)
  end
end

function reset_term()
	term.clear()
	term.setCursorPos(1,1)
end


function print_table(table)
	for key,value in pairs( table ) do
	   print(tostring(key)..": "..tostring(value))
	end
end

function send_auth_back(sid)
  rednet.send(sid, _AUTH_OKAY_CODE)
end

function do_login(username, password, sid)
  if (username == "admin") then
    if (password == "admin") then
	  print("INFO: SUCCESSFULLY AUTHENTICATED LOGIN.")
	  num_logged_in = num_logged_in + 1
	  
	  table.insert(LOGGED_IN_USERS, num_logged_in, sid)
	  
	  send_auth_back(sid)
	  
	  print("")
	  print("USERS LOGGED >")
	  print_table(LOGGED_IN_USERS)
	  print("---")
	  
	  
    else
	  print("INFO: PASSWORD INCORRECT")
	end
  else
    print("INFO: USERNAME UNRECOGNIZED.")
  end
end

function is_authenticated(sid) 

 -- print("SID = " .. sid)
  auth = false
  
	for key,value in pairs( PRERESERVED_IDS ) do
	    if value == sid then
		   --print(tostring(key)..": "..tostring(value))
		  
		   auth = true
		end
	end
  
  if (auth == false) then
    return is_logged_in(sid)
  end
  
  return auth
  
  
end

function is_logged_in(sid)
  logged = false
	for key,value in pairs( LOGGED_IN_USERS ) do
	    if ((tonumber(key) == sid) or (tonumber(value) == sid)) then
		   --print(tostring(key)..": "..tostring(value))
		   logged = true
		end
	end
  return logged
end



function send_authentication_request(rid)
  rednet.send(rid, _AUTH_REQUEST_CODE)
  
  local sid, msg = rednet.receive(AUTH_TIMEOUT)
  
  
   
  if not (msg == nil) then 
	  
	  --print ("INFO: '" .. msg .. "'")
	  
	  --split = altsplit(msg, ',')
	  --split = justWords(msg)
	  
	  --print("TEST GMATCH >")
	  
	  local tab = {}
	  local i = 1
	  for word in string.gmatch(msg, '([^,]+)') do
			--print(word)
			table.insert(tab , i , word)
			i = i+1
		end
		
	 -- print_table(tab)
	  
	
	--print(table.getn(tab))  
	  
	  username = tostring(tab[1])
	  password = tostring(tab[2])
	  
	  --print("'" .. username .. "'")
	  --print("'" .. password .. "'")
	  
	  if (not (username == nil)) and (not (password == nil)) then
		  if (sid == rid) then
			print("INFO: " .. username .. "'@#" .. sid .. "' is authenticating..")
			do_login(username, password, sid)
		  else
			print("INFO: AUTHENTICATION MISFIRE, RECEIVED MULTIPLE REQUESTS AT THE SAME TIME FROM DIFFERENT IDS!")
			print("INFO: PLEASE TRY AGAIN LATER!")
			print(tonumber(sid))
			print(tonumber(rid))
		  end
	  
	   else
	     print("INFO: NIL CREDENTIALS.")
	   end
  else
   print("INFO: Authentication failed with a nil message.")
  end
  
end

while true do
  local sid, msg = rednet.receive()

  if (is_authenticated(sid)) then
    print("INFO: '".. msg .. "' from #" .. sid)
	
	if (msg == _AUTH_REQUEST_CODE) then
	  print("INFO: '" .. _AUTH_OKAY_CODE .. " >> #" .. sid)
	  rednet.send(sid, _AUTH_OKAY_CODE)
	end
	
	evaluate_remote_shell(sid, msg)
	
  else
    print("INFO: SENDING AUTHENTICATION REQUEST TO #" .. sid)
    send_authentication_request(sid)
  end
end